 <% include perm/BigHeader %>

 <div class="container">
  	<% if (errors) { %>
  		<% for(var i=0; i < errors.length; i++) { %>
  			<div class="alert alert-danger">&nbsp;<%- errors[i]['msg'] %></div>
  		<% } %>
  	<% } %>
 </div>
 <div class="container">
  	<% if (success) { %>
  		<% for(var i=0; i < success.length; i++) { %>
  			<div class="alert alert-success">&nbsp;<%- success[i]['msg'] %></div>
  		<% } %>
  	<% } %>
 </div>

 <div class="container" id="divforgot">
     <div class="row">
         <div class="form-group col-xs-6 col-xs-offset-3 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center border">
             <form action='/forgotpass/submit' method='post'>
                 <h1 id="formtitle">Reset Password</h1>
                 <div class="form-group">
                     <label for="">Email</label>
                     <input type="email" class="form-control" name="email" placeholder="Enter email" required>
                     <small id="emailHelp" class="form-text text-muted">We will send an email containing the demache to follow to retrieve your password.</small>
                 </div>
                 <button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
             </form>
         </div>
     </div>
     <div class="row">
         <div class="form-group col-xs-6 col-xs-offset-3 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center border2">
             <p class="changeform">Already a member? <a href="/login">Log In</a></p>
             <p>Don't have an account? <a href="/">Sign Up</a></p>
         </div>
     </div>
 </div>

 <% include perm/Footer %>
