<% include perm/SmallHeader %>

<div class="container">
    <div class="card">
        <div class="card-header">
            Notifications
        </div>
        <div class="card-body" style="overflow-x:scroll;">
            <ul id="notifications" class="list-group">
                <% notifications.forEach(function(notification) { %>
                    <% var link = ((notification.type === 'message') ? ('/chat/' + notification.from) : ('/profile/user/' + notification.from)); %>
                    <a href="<%= link %>"><li class="list-group-item">
                        <%= (notification.from + notification.text) %>
                    </li></a>
                <% }); %>
            </ul>
        </div>
    </div>
</div>

<% include perm/Footer %>

<script src="/socket.io/socket.io.js"></script>
<script>
    $(function () {
        var socket = io();

        socket.on('notification', function (type, from, text) {
            var link = ((type === 'message') ? ('/chat/' + from) : ('/profile/' + from));
            $('#notifications').prepend('<a href="' + link + '"><li class="list-group-item">' + (from + text) + '</li></a>' );
        });
    });
</script>