<% include perm/SmallHeader %>


<%var text = {%>
<%    message: ' sent you a message.',%>
<%    like: ' liked your profile.',%>
<%    visit: ' visited your profile.'%>
<%};%>

<div class="container">
    <div class="card">
        <div class="card-header">
            Notifications
        </div>
        <div class="card-body">
            <ul class="list-group">
                <% notifications.forEach(function(notification) { %>
                    <% var link = ((notification.type === 'message') ? ('/chat/' + notification.from) : ('/profile/' + notification.from)); %>
                    <li class="list-group-item"><a href="<%- link %>">
                        <%- (notification.from + text[notification.type]) %>
                    </li></a>
                <% }); %>
            </ul>
        </div>
    </div>
</div>

<% include perm/Footer %>
<!-- 
<script src="/socket.io/socket.io.js"></script>
<script>
    $(function () {
        var socket = io(),
            to = "<%- to %>";

        $('form').submit(function () {
            var message = {
                to: to,
                text: $('#message-text').val()
            };
            console.log(message);
            socket.emit('message-send', message);
            $('#message-text').val('');
            return false;
        });

        socket.on('auth-error', function (error) {
            $('#messages').text(error);
            $('#message-text').prop('disabled', true);
            $('button').prop('disabled', true);
        });

        socket.on('message-sent', function(message) {
            $('#messages').append('<div class="row"></div>').append($('<div class="message-bubble message-sent"></div>').text(message));
        });

        socket.on('message', function (from, message) {
            console.log(from, message);
            if (from === to) {
                $('#messages').append($('<div class="message-bubble message-received"></div>').text(message));
            }
        });
    });
</script> -->