<% include perm/BigHeader %>

<div class="container" id="divsign">
    <div class="row">
        <div class="form-group col-xs-6 col-xs-offset-3 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center border">
            <form action="/signup/submit" method="post">
                <h1 id="formtitle">Register to find love !</h1>
                <div class="row">
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <label for="">I am</label>
                        <select class="form-control" name="gender" required>
                            <option value="" disabled hidden>Select</option>
                            <option value="man" selected>a man</option>
                            <option value="woman">a woman</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <label for="">Seeking</label>
                        <select class="form-control" name="orientation" required>
                            <option value="" disabled hidden>Select</option>
                            <option value="man" selected>a man</option>
                            <option value="woman">a woman</option>
                            <option value="both">both</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <% var date = new Date(); date.setFullYear(date.getFullYear() - 18); %>
                    <% var max = date.toISOString().substr(0,10) %>
                    <label for="birthday">I was born on</label>
                    <input class="form-control" type="date" name="birthday" max="<%= max %>" required>
                </div>
                <div class="form-group">
                    <label for="email">Email adress</label>
                    <input type="email" class="form-control" name="email" placeholder="Enter your email" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
				<div class="form-group">
                    <label for="login">Login</label>
                    <input name="login" type="text" class="form-control" placeholder="Your login must contain at least 5 characters" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input name="password" type="password" class="form-control" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <label for="confirm">Confirm password</label>
                    <input name="confirm" type="password" class="form-control" placeholder="Confirm password" required>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-6 col-xs-offset-3 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center border2">
            <p class="changeform">Already a member? <a href="/login">Log In</a></p>
        </div>
    </div>
</div>

<% include perm/Footer %>
