#profilesug {
    width: 150px;
    height: 150px;
}

#bordersug {
    margin-bottom: 30px;
}

.home-imgprofile {
    margin-top: 20px;
}

.home-search {
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 40px;
}

.home-search2 {
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
}