.myacc-div {
    padding-top: 25px;
    height: 80px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.myacc-divinter {
    padding-top: 10px;
    padding-bottom: 10px;
}

.deleteInter {
    margin-bottom:5px;
}

.last-div {
    padding-bottom: 200px;
}