.myacc-div {
    padding-top: 25px;
    height: 80px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.myacc-divinter {
    padding-top: 10px;
    padding-bottom: 10px;
}

.deleteInter {
    margin-bottom:5px;
}

.last-div {
    padding-bottom: 200px;
}

.btn-secondary {
    background-color: #900C3F;
    border-color: #900C3F;
}

.btn-secondary:hover {
    background-color: #770933;
    border-color: #770933;
}

.redress-btn {
    height: 38px;
}